/*=================================*/
/* Skipopia Premium Theme
/* Blue Stylesheet
/*=================================*/

body {
	background:#334F60 url(../images/blue/background.png) repeat;
}
a, a:visited {
	color:#20333F;
	text-decoration:none;
	border-bottom:1px solid #3E9ED9;
}
a:hover {
	color:#3E9ED9;
	text-decoration:none;
	border-bottom:1px solid #3E9ED9;
}
code {
	background:#223642;
	color:#fff;
}
pre {
	background:#223642;
}

#header {
	background:url(../images/blue/header.png) no-repeat 0% 50% ; height:100px;
}

a#nav1 { background:url(../images/blue/nav1.png) no-repeat; width:98px; }
a#nav3 { background:url(../images/blue/nav3.png) no-repeat; width:106px; }
a#nav4 { background:url(../images/blue/nav4.png) no-repeat; width:94px; }
a#nav5 { background:url(../images/blue/nav5.png) no-repeat; width:109px; }
a#nav1:hover { background:url(../images/blue/nav1_hover.png) no-repeat; width:98px; }
a#nav3:hover { background:url(../images/blue/nav3_hover.png) no-repeat; width:106px; }
a#nav4:hover { background:url(../images/blue/nav4_hover.png) no-repeat; width:94px; }
a#nav5:hover { background:url(../images/blue/nav5_hover.png) no-repeat; width:109px; }

#middlebar-big {
	background:url(../images/blue/middlebar_big.png) no-repeat;
}
#middlebar-big p {
	color:#b8e5ff;
}
#middlebar-big a.learn-more {
	background:url(../images/blue/learn_more.png) no-repeat;
}
#middlebar-small {
	background:url(../images/blue/middlebar_small.png) no-repeat top;
}

#footer {
	background:url(../images/blue/footer.png) no-repeat;
}
#footer a {
	color:#5c7788;
	border:0;
}
#footer a:hover {
	color:#87D2FF;
}

input:focus,
textarea:focus,
select:focus {
  border: 1px solid #213540;
}
input.button {
  background: #223541;
}

p.buy-now a {
	background:#3D9AD2;
}